@font-face {
  font-family: "LondrinaSolid";
  src: url("../fonts/LondrinaSolid-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "LondrinaShadow";
  src: url("../fonts/LondrinaShadow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BungeeSpice";
  src: url("../fonts/BungeeSpice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.custom-label {
  align-items: center;
  color: inherit;
  display: inline-flex;
  font-size: 13px;
  letter-spacing: 0.009375em;
  min-width: 0;
  opacity: var(--v-medium-emphasis-opacity);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
